<h3>A tree sorting example (WIP)</h3>
<p>Drag to change the hierarchy of leaves</p>


<div class="grid">
  <div class="block">
    <h4>Demo:</h4>

    {{leaf-item
      leaf=model
      sortingScope='leaf'
    }}
    {{/sortable-objects}}

  </div>


  <div class="block auto">
    <h4>Resources:</h4>
    <h5>Template:</h5>
    <a href="https://github.com/mharris717/ember-drag-drop/blob/master/tests/dummy/app/templates/treedata.hbs" target="_blank">https://github.com/mharris717/ember-drag-drop/blob/master/tests/dummy/app/templates/treedata.hbs</a>
    <h5>Controller:</h5>
    <a href="https://github.com/mharris717/ember-drag-drop/blob/master/tests/dummy/app/controllers/treedata.js" target="_blank">https://github.com/mharris717/ember-drag-drop/blob/master/tests/dummy/app/controllers/treedata.js</a>
    <h5>Route:</h5>
    <a href="https://github.com/mharris717/ember-drag-drop/blob/master/tests/dummy/app/routes/treedata.js" target="_blank">https://github.com/mharris717/ember-drag-drop/blob/master/tests/dummy/app/routes/treedata.js</a>
  </div>
</div>